@csosto-pk [RFC 3279](https://datatracker.ietf.org/doc/rfc3279/) and [RFC 8419](https://datatracker.ietf.org/doc/rfc8419/) did not, but that's why we ended up with [RFC 7468](https://datatracker.ietf.org/doc/rfc7468/) much later for RFC 3279.  You'll note nothing has been done for RFC 8419.

The curve25519 and x448 crowd went for just including it all in one, see [RFC 8410](https://datatracker.ietf.org/doc/rfc8410/).

I went for the all in one approach. I am however **_NOT_** wed to this section. I just think that it doesn't really hurt to include it.

Since this draft is not about storing (or worse - passing around) private keys in an interoperable format, IMHO it does _not_ need to define Private key format.

100% agree it is _not needed_ but is there harm in including it? If we end up being unable to come to consensus on the options, then I would say it's okay to drop it. But, if we can, why not keep it.

I think a standardised private key format is required. For instance: many private keys today are generated by _certbot_ (before it fetches a certificate from it from Let's Encrypt) and then read by some webserver. _certbot_ and the webserver need to agree on the private key format.